.elementor-5144 .elementor-element.elementor-element-9c639d4 > .elementor-element-populated{padding:0px 0px 0px 0px;}/* Start custom CSS for html, class: .elementor-element-70ecce8 */.elementor-5144 .elementor-element.elementor-element-70ecce8{
    display:none;
}/* End custom CSS */
/* Start custom CSS */@media screen and (min-width:280px){
    #pgQuemSomos *{
        max-width: 768px;
        padding:0;
}
#pgQuemSomos img{
    width: 100%;
}

#bloco1 div div, #bloco2 div div, #bloco3 div div, #bloco4 div div, #bloco5 div div, #bloco6 div div, #bloco7 div div{
        width: 100%;
}

#bloco1 .smallSize{
    position: relative;
}


.smallSize .texto{
    position: absolute;
    bottom: 0;
}
#bloco1 .smallSize .texto {
    padding: 0 23% 7% 4%;
}

#bloco2 .smallSize .texto {
    top: 0;
    padding: 10%;
}

#bloco3 .smallSize .texto {
    top: 0;
    padding: 14% 54% 10% 3%;
}

#bloco4 .smallSize .texto {
    top: 0;
    padding: 14% 10%;
}

#bloco5 .smallSize .texto {
    top: 0;
    padding: 12% 10%;
}

#bloco6 .smallSize .texto {
    top: 0;
    padding: 5% 15%
}

#bloco7 .smallSize .texto {
    top: 0;
    padding: 10%
}

.mediumSize{
    display: none;
}

}


@media screen and (min-width:768px){
    .smallSize{
        display: none;
    }
    .mediumSize{
        display: block;
        height: 600px;
    }

    
    #pgQuemSomos *{
        max-width: 1400px;
        padding:0;
}
#pgQuemSomos img{
    width: 100%;
}

#bloco1 div div, #bloco2 div div, #bloco3 div div, #bloco4 div div, #bloco5 div div, #bloco6 div div, #bloco7 div div{
        width: 100%;
}

#bloco1 .mediumSize{
    position: relative;
}


.mediumSize .texto{
    position: absolute;
    bottom: 0;
}
#bloco1 .mediumSize .texto {
    padding: 0 20% 5% 4%;
}

#bloco2 .mediumSize .texto {
    top: 0;
    padding: 8% 5%;
}

#bloco3 .mediumSize .texto {
    top: 0;
    padding: 14% 54% 10% 3%;
}

#bloco4 .mediumSize .texto {
    top: 0;
    padding: 7%;
}

#bloco4 .mediumSize{
    height: 400px;
}

#bloco5 .mediumSize .texto {
    top: 0;
    padding: 7% 10%;
}

#bloco6 .mediumSize .texto {
    top: 0;
    padding: 4% 10%;
}

#bloco7 .mediumSize .texto {
    top: 0;
    padding: 10%;
}


}/* End custom CSS */