.elementor-11 .elementor-element.elementor-element-05c8c54 .elementor-heading-title{color:#000000;font-family:"Montserrat", Sans-serif;font-weight:600;}.elementor-11 .elementor-element.elementor-element-26a62198{color:#000000;font-family:"Montserrat", Sans-serif;font-size:1.4rem;font-weight:400;}/* Start custom CSS for html, class: .elementor-element-9fb00bf */.elementor-11 .elementor-element.elementor-element-9fb00bf{
    display: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3529253d */.elementor-11 .elementor-element.elementor-element-3529253d{
    max-width: 1400px;
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS */@media screen and (min-width: 280px){
.trocas{
    font-size: 14px !important;
    padding:0 1em;
}
.trocas h2{
    font-weight: 800 !important;
    text-align: center;
    margin-top: 1em;
    font-size: 1em !important;
}

.trocas p{
    color: #212529 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9em;

}

.trocas p strong{
    font-weight: 600 !important
}


p[data-tag="p-11"],p[data-tag="p-35"],p[data-tag="p-47"],p[data-tag="p-65"], p[data-tag="p-74"],p[data-tag="p-98"], p[data-tag="p-122"],p[data-tag="p-146"], p[data-tag="p-194"],p[data-tag="p-218"]
{
    margin-bottom: 1em !important;   
}

.textos{
    margin-bottom: 1em;
}

}
@media screen and (min-width: 768px){
.trocas{
    font-size: 18px !important;
}
.trocas h2{
    font-weight: 800 !important;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.4em !important;
}

.trocas p{
    color: #212529 !important;
    
    font-size: 1em;

}

.trocas p strong{
    font-weight: 600 !important
}

p[data-tag="p-11"],p[data-tag="p-35"],p[data-tag="p-47"],p[data-tag="p-65"], p[data-tag="p-74"],p[data-tag="p-98"], p[data-tag="p-122"],p[data-tag="p-146"], p[data-tag="p-194"],p[data-tag="p-218"]
{
    margin-bottom: 1em !important;   
}

.textos{
    margin-bottom: 2em;
}













}/* End custom CSS */