.elementor-3 .elementor-element.elementor-element-ea644ea .elementor-heading-title{color:#000000;font-family:"Montserrat", Sans-serif;font-weight:600;}.elementor-3 .elementor-element.elementor-element-304b16ac{color:#000000;font-family:"Montserrat", Sans-serif;font-size:1.4rem;font-weight:400;}/* Start custom CSS for html, class: .elementor-element-eb97bda */.elementor-3 .elementor-element.elementor-element-eb97bda{
    display: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5277822e */.elementor-3 .elementor-element.elementor-element-5277822e{
    max-width: 1400px;
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS */@media screen and (min-width: 280px){
.privacidade{
    font-size: 14px !important;
    padding:0 1em;
}
.privacidade h2{
    font-weight: 800 !important;
    text-align: center;
    margin-top: 1em;
    font-size: 1em !important;
}

.privacidade p{
    color: #212529 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9em;

}

.privacidade p strong{
    font-weight: 600 !important
}


p[data-tag="p-3"],p[data-tag="p-13"],p[data-tag="p-20"],p[data-tag="p-40"],p[data-tag="p-44"],p[data-tag="p-52"],p[data-tag="p-56"],p[data-tag="p-59"],p[data-tag="p-69"],p[data-tag="p-72"],p[data-tag="p-77"],p[data-tag="p-79"],p[data-tag="p-82"], p[data-tag="p-84"],p[data-tag="p-86"],p[data-tag="p-89"],p[data-tag="p-99"]
{
    margin-bottom: 1em !important;   
}

.textos{
    margin-bottom: 1em;
}

}
@media screen and (min-width: 768px){
.privacidade{
    font-size: 18px !important;
}
.privacidade h2{
    font-weight: 800 !important;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.4em !important;
}

.privacidade p{
    color: #212529 !important;
    
    font-size: 1em;

}

.privacidade p strong{
    font-weight: 600 !important
}

p[data-tag="p-3"],p[data-tag="p-13"],p[data-tag="p-20"],p[data-tag="p-40"],p[data-tag="p-44"],p[data-tag="p-52"],p[data-tag="p-56"],p[data-tag="p-59"],p[data-tag="p-69"],p[data-tag="p-72"],p[data-tag="p-77"],p[data-tag="p-79"],p[data-tag="p-82"], p[data-tag="p-84"],p[data-tag="p-86"],p[data-tag="p-89"],p[data-tag="p-99"]
{
    margin-bottom: 1em !important;   
}

.textos{
    margin-bottom: 2em;
}













}/* End custom CSS */