@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (min-width: 280px) {
  body > div.nasa-static-group-btn {
    display: none;
  }

  body.home {
    max-width: 768px;
    margin: 0 auto;
  }
  body.home .s576 {
    width: 100%;
  }
  body.home .s576 .elementor-widget-wrap.elementor-element-populated {
    padding: 0 !important;
  }
  body.home .s576 img {
    width: auto;
    height: 100vh;
  }
  body.home .s576 .texto {
    position: absolute;
    bottom: 35%;
    left: 5%;
    width: 90%;
  }
  body.home .s576 .texto img {
    height: 100%;
    width: 100%;
  }
  body.home .s576 {
    display: block;
  }
  body.home .s768 {
    display: none;
  }

  .logoFooter {
    max-height: 40px;
    width: auto;
  }

  .formasPagamento {
    margin-top: 0;
  }

  footer #menu-main-menu-1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  #menu-item-3689, #menu-item-3693 {
    display: none;
  }

  #menu-item-3828 {
    padding-right: 10px;
  }

  #menu-item-3829 {
    padding-left: 10px;
  }

  .tituloFooter {
    font-size: 1.5rem;
    text-align: center;
  }

  ul.nasa-bottom-bar-icons.nasa-transition.nasa-4-columns.nasa-active {
    display: none;
  }

  .linha1 {
    width: 100% !important;
  }

  .linha1 img {
    width: 25% !important;
  }

  .linha2 {
    width: 100% !important;
  }

  .linha3 {
    width: 100% !important;
  }

  .bloco1 {
    height: 434px;
  }

  .bloco2 {
    height: 369px;
  }

  .bloco3 {
    height: 369px;
  }

  .bloco4 {
    height: 369px;
  }

  .bloco5 {
    height: 369px;
  }

  .bloco6 {
    height: 369px;
  }

  .bloco7 {
    height: 369px;
  }
}
@media screen and (min-width: 576px) {
  .bloco1 {
    height: 625px;
  }

  .bloco2 {
    height: 531px;
  }

  .bloco3 {
    height: 531px;
  }

  .bloco4 {
    height: 531px;
  }

  .bloco5 {
    height: 531px;
  }

  .bloco6 {
    height: 531px;
  }

  .bloco7 {
    height: 531px;
  }
}
@media only screen and (min-width: 768px) {
  body.home {
    max-width: 1400px;
    margin: 0 auto;
  }
  body.home .s768 {
    width: 100%;
  }
  body.home .s768 img {
    width: 100%;
    height: 100%;
  }
  body.home .s768 .texto {
    position: absolute;
    bottom: 35%;
    left: 5%;
    width: 65%;
  }
  body.home .s768 .texto img {
    height: 80%;
    width: auto;
  }
  body.home .s768 {
    width: 100%;
  }
  body.home .s768 .elementor-widget-wrap.elementor-element-populated {
    padding: 0 !important;
  }
  body.home .s576 {
    display: none;
  }
  body.home .s768 {
    display: block;
  }

  #top-bar {
    display: initial;
  }

  .logoFooter {
    max-height: 40px;
    width: auto;
  }

  footer #menu-main-menu-1 {
    list-style-type: none;
    display: flex;
  }

  #menu-item-3689, #menu-item-3693 {
    display: none;
  }

  .tituloFooter {
    font-size: 1.5rem;
  }

  li[data-tag=li-2] {
    display: block !important;
  }

  .topbar-mobile-text[data-tag=div-7] {
    display: none !important;
  }

  .nasa-static-group-btn {
    display: none;
  }

  .bloco1 {
    height: 834px;
  }

  .bloco2 {
    height: 708px;
  }

  .bloco3 {
    height: 708px;
  }

  .bloco4 {
    height: 708px;
  }

  .bloco5 {
    height: 708px;
  }

  .bloco6 {
    height: 708px;
  }

  .bloco7 {
    height: 708px;
  }

  .rodapeV2 {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
  .rodapeV2 .elementor-container {
    flex-wrap: wrap;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 30% !important;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    width: 70% !important;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 25% !important;
  }
  .rodapeV2 .elementor-container .linha3 {
    width: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .bloco1 {
    height: 433px;
  }

  .bloco2 {
    height: 238px;
  }

  .bloco3 {
    height: 324px;
  }

  .bloco4 {
    height: 167px;
  }

  .bloco5 {
    height: 514px;
  }

  .bloco6 {
    height: 290px;
  }

  .bloco7 {
    height: 324px;
  }
}
@media screen and (min-width: 1200px) {
  .bloco1 {
    height: 524px;
  }

  .bloco2 {
    height: 288px;
  }

  .bloco3 {
    height: 392px;
  }

  .bloco4 {
    height: 202px;
  }

  .bloco5 {
    height: 622px;
  }

  .bloco6 {
    height: 351px;
  }

  .bloco7 {
    height: 392px;
  }
}
@media screen and (min-width: 1400px) {
  .bloco1 {
    height: 611px;
  }
  .bloco1 .img2 {
    width: 65% !important;
  }
  .bloco1 .ancorado:nth-child(2) {
    bottom: 15%;
    left: 5%;
  }

  .bloco2 {
    height: 336px;
  }
  .bloco2 .ancorado:nth-child(2) {
    bottom: 30%;
    left: 7%;
  }

  .bloco3 {
    height: 457px;
  }
  .bloco3 .ancorado:nth-child(2) {
    width: 26% !important;
    bottom: 34%;
    left: 47%;
  }

  .bloco4 {
    height: 235px;
  }
  .bloco4 .ancorado:nth-child(2) {
    width: 100% !important;
    bottom: 20%;
    left: 7%;
  }

  .bloco5 {
    height: 726px;
  }

  .bloco6 {
    height: 409px;
  }

  .bloco7 {
    height: 457px;
  }
}
html, body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
}

#registroPolicy {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

#registroPolicy :focus {
  text-decoration: none;
}

#mobile-navigation {
  display: flex;
  flex-wrap: wrap;
}

#mobile-navigation > li.menu-item.root-item.menu-item-heading, #nasa-menu-sidebar-content > a {
  display: none;
}

#mobile-navigation > li:nth-child(2), #mobile-navigation > li:nth-child(3) {
  flex-grow: 1;
  width: 100%;
}

#mobile-navigation > li:nth-child(4), #mobile-navigation > li:nth-child(5) {
  flex-grow: 1;
  text-align: right;
}

#mobile-navigation > li:nth-child(4) {
  flex-grow: 1;
  text-align: right;
}

#mobile-navigation > li:nth-child(5) {
  text-align: left;
}

.menu-item img {
  width: 20px;
}

#top-bar {
  display: none;
}

#homeBanner {
  height: 100vh;
}

.textoBanner {
  padding: 20px;
}

#um-submit-btn {
  background-color: black !important;
}

.btnLogin {
  background-color: #4d068f !important;
}

#um-submit-btn, #btn1, #btn2 {
  width: 100% !important;
  border-radius: 0 !important;
  text-transform: uppercase !important;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px black;
}

.elementor img {
  max-width: 1400px;
}

.quemSomos {
  max-width: 1400px !important;
  margin: 0 auto;
}

.ancora {
  position: relative;
  height: 100%;
}

.ancorado {
  position: absolute;
}

.ancora, .ancorado {
  width: 100% !important;
}

/*# sourceMappingURL=sas-estilos.css.map */
