@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (min-width: 280px) {
  #politica .texto, #termos .texto, #trocas .texto {
    font-family: "Montserrat", sans-serif;
  }

  div[data-id="4fd940a3"], div[data-id="605d17b7"] {
    padding: 5%;
  }

  .bannerHome {
    max-width: 575px;
  }
  .bannerHome .ancorado:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  .bannerHome .ancorado:nth-child(2) {
    bottom: 20%;
    left: 5%;
  }
  .bannerHome .ancorado:nth-child(2) img {
    width: 85vw;
  }

  .quemSomos {
    margin-bottom: 5vh !important;
  }

  .logoFooter {
    max-height: 40px;
    width: auto;
  }

  .formasPagamento {
    margin-top: 0;
  }

  footer #menu-main-menu-1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  #menu-item-3689, #menu-item-3693 {
    display: none;
  }

  #menu-item-3828 {
    padding-right: 10px;
  }

  #menu-item-3829 {
    padding-left: 10px;
  }

  .tituloFooter {
    font-size: 1.5rem;
    text-align: center;
  }

  ul.nasa-bottom-bar-icons.nasa-transition.nasa-4-columns.nasa-active {
    display: none;
  }

  .linha1 {
    width: 100%;
  }

  .linha1 img {
    width: 25%;
  }

  .linha2 {
    width: 100%;
  }

  .linha3 {
    width: 100%;
  }

  .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    overflow-y: hidden;
    margin: 0 auto;
  }
  .bloco1 .elementor-container, .bloco2 .elementor-container, .bloco3 .elementor-container, .bloco4 .elementor-container, .bloco5 .elementor-container, .bloco6 .elementor-container, .bloco7 .elementor-container, .bloco8 .elementor-container {
    height: 100%;
  }
  .bloco1 .elementor-container .ancorado, .bloco2 .elementor-container .ancorado, .bloco3 .elementor-container .ancorado, .bloco4 .elementor-container .ancorado, .bloco5 .elementor-container .ancorado, .bloco6 .elementor-container .ancorado, .bloco7 .elementor-container .ancorado, .bloco8 .elementor-container .ancorado {
    width: 100%;
  }
  .bloco1 .img1, .bloco2 .img1, .bloco3 .img1, .bloco4 .img1, .bloco5 .img1, .bloco6 .img1, .bloco7 .img1, .bloco8 .img1 {
    width: 100%;
    height: auto;
  }

  .bloco1 {
    min-height: 434px;
  }
  .bloco1 .ancorado:nth-child(2) {
    height: 100%;
    top: 37vw;
    width: 85%;
    left: 5%;
  }

  .bloco2 {
    min-height: 369px;
  }
  .bloco2 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco2 .ancorado:nth-child(2) img {
    width: 100%;
  }

  .bloco3 {
    min-height: 369px;
  }
  .bloco3 .ancorado:nth-child(2) {
    display: flex;
    height: auto;
    bottom: 40%;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco3 .ancorado:nth-child(2) img {
    width: 90%;
  }

  .bloco4 {
    min-height: 369px;
  }
  .bloco4 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco4 .ancorado:nth-child(2) img {
    width: 100%;
  }

  .bloco5 {
    min-height: 369px;
    height: auto;
  }
  .bloco5 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 1vw;
    width: 50vw;
    left: 0;
    align-items: center;
    justify-content: left;
    margin-left: 10vw;
  }
  .bloco5 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco5 .ancorado:nth-child(2) img {
    width: 100%;
  }

  .bloco6 {
    min-height: 369px;
  }
  .bloco6 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco6 .ancorado:nth-child(2) img {
    width: 100%;
  }

  .bloco7 {
    min-height: 330px;
  }
  .bloco7 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    bottom: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco7 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco7 .ancorado:nth-child(2) img {
    width: 90%;
  }

  .bloco8 {
    min-height: 369px;
  }
  .bloco8 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    margin-left: 5%;
    align-items: center;
    justify-content: left;
  }
  .bloco8 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco8 .ancorado:nth-child(2) img {
    width: 90%;
  }

  div[data-id="45497eb"] {
    height: 95vh;
    overflow-y: hidden;
  }

  .rodapeV2 {
    max-width: 768px;
    margin-top: 10%;
    width: 100%;
    padding: 5%;
  }
  .rodapeV2 article {
    padding-bottom: 1% !important;
  }
  .rodapeV2 .elementor-container {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) img {
    width: 30%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    width: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap {
    margin-top: 5%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap i {
    font-size: 1.5rem;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 100%;
    margin-top: 5%;
  }
  .rodapeV2 .elementor-container .linha3 {
    margin-top: 5%;
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .bannerHome {
    max-width: 767px;
  }
  .bannerHome .ancorado:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  .bannerHome .ancorado:nth-child(2) {
    bottom: 20%;
    left: 5%;
  }
  .bannerHome .ancorado:nth-child(2) img {
    width: 85vw;
  }

  .ancorado {
    width: 100%;
  }

  .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    overflow-y: hidden;
    margin: 0 auto;
  }
  .bloco1 .elementor-container, .bloco2 .elementor-container, .bloco3 .elementor-container, .bloco4 .elementor-container, .bloco5 .elementor-container, .bloco6 .elementor-container, .bloco7 .elementor-container, .bloco8 .elementor-container {
    height: 100%;
  }
  .bloco1 .img1, .bloco2 .img1, .bloco3 .img1, .bloco4 .img1, .bloco5 .img1, .bloco6 .img1, .bloco7 .img1, .bloco8 .img1 {
    width: 100%;
    height: auto;
  }

  .bloco1 {
    min-height: 625px;
  }
  .bloco1 .ancorado:nth-child(2) {
    height: 100%;
    top: 37vw;
    width: 85%;
    left: 5%;
  }

  .bloco2 {
    min-height: 531px;
  }
  .bloco2 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco2 .ancorado:nth-child(2) img {
    width: 70vw;
  }

  .bloco3 {
    min-height: 531px;
  }
  .bloco3 .ancorado:nth-child(2) {
    display: flex;
    height: auto;
    bottom: 40%;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco3 .ancorado:nth-child(2) img {
    width: 90%;
  }

  .bloco4 {
    min-height: 531px;
  }
  .bloco4 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco4 .ancorado:nth-child(2) img {
    width: 70vw;
  }

  .bloco5 {
    min-height: 531px;
  }
  .bloco5 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 50vw;
    left: 0;
    align-items: center;
    justify-content: left;
    margin-left: 10vw;
  }
  .bloco5 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco5 .ancorado:nth-child(2) img {
    width: 51vw;
  }

  .bloco6 {
    min-height: 531px;
  }
  .bloco6 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco6 .ancorado:nth-child(2) img {
    width: 70vw;
  }

  .bloco7 {
    min-height: 531px;
  }
  .bloco7 .ancorado:nth-child(2) {
    height: 100%;
    bottom: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco7 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco7 .ancorado:nth-child(2) img {
    width: 70vw;
  }

  .bloco8 {
    min-height: 531px;
  }
  .bloco8 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    margin-left: 5%;
    align-items: center;
    justify-content: left;
  }
  .bloco8 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco8 .ancorado:nth-child(2) img {
    width: 100%;
  }

  .rodapeV2 {
    max-width: 768px;
    margin-top: 10%;
    width: 100%;
    padding: 1%;
  }
  .rodapeV2 article {
    padding-bottom: 1% !important;
  }
  .rodapeV2 .elementor-container {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) img {
    width: 30%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    width: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap {
    margin-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap i {
    font-size: 1.5rem;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 100%;
    margin-top: 5%;
  }
  .rodapeV2 .elementor-container .linha3 {
    margin-top: 5%;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .bannerHome {
    max-width: 991px;
  }
  .bannerHome .ancorado:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  .bannerHome .ancorado:nth-child(2) {
    bottom: 20%;
    left: 5%;
  }
  .bannerHome .ancorado:nth-child(2) img {
    width: 85vw;
  }

  .logoFooter {
    max-height: 40px;
    width: auto;
  }

  footer #menu-main-menu-1 {
    list-style-type: none;
    display: flex;
  }

  #menu-item-3689, #menu-item-3693 {
    display: none;
  }

  .tituloFooter {
    font-size: 1.5rem;
  }

  li[data-tag=li-2] {
    display: block !important;
  }

  .topbar-mobile-text[data-tag=div-7] {
    display: none !important;
  }

  .nasa-static-group-btn {
    display: none;
  }

  .ancorado {
    width: 100%;
  }

  .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    overflow-y: hidden;
    margin: 0 auto;
  }
  .bloco1 .elementor-container, .bloco2 .elementor-container, .bloco3 .elementor-container, .bloco4 .elementor-container, .bloco5 .elementor-container, .bloco6 .elementor-container, .bloco7 .elementor-container, .bloco8 .elementor-container {
    height: 100%;
  }
  .bloco1 .img1, .bloco2 .img1, .bloco3 .img1, .bloco4 .img1, .bloco5 .img1, .bloco6 .img1, .bloco7 .img1, .bloco8 .img1 {
    width: 100%;
    height: auto;
  }

  .bloco1 {
    height: 834px;
  }
  .bloco1 .ancorado:nth-child(2) {
    height: 100%;
    top: 37vw;
    width: 85%;
    left: 5%;
  }

  .bloco2 {
    height: 708px;
  }
  .bloco2 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco2 .ancorado:nth-child(2) img {
    width: 60vw;
  }

  .bloco3 {
    height: 708px;
  }
  .bloco3 .ancorado:nth-child(2) {
    display: flex;
    height: auto;
    top: 62%;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco3 .ancorado:nth-child(2) img {
    width: 40vw;
  }

  .bloco4 {
    height: 708px;
  }
  .bloco4 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco4 .ancorado:nth-child(2) img {
    width: 60vw;
  }

  .bloco5 {
    height: 708px;
  }
  .bloco5 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 50vw;
    left: 0;
    align-items: center;
    justify-content: left;
    margin-left: 10vw;
  }
  .bloco5 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco5 .ancorado:nth-child(2) img {
    width: 51vw;
  }

  .bloco6 {
    height: 708px;
  }
  .bloco6 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco6 .ancorado:nth-child(2) img {
    width: 60vw;
  }

  .bloco7 {
    height: 708px;
  }
  .bloco7 .ancorado:nth-child(2) {
    height: 100%;
    bottom: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco7 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco7 .ancorado:nth-child(2) img {
    width: 70vw;
  }

  .bloco8 {
    min-height: 708px;
  }
  .bloco8 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    margin-left: 5%;
    align-items: center;
    justify-content: left;
  }
  .bloco8 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco8 .ancorado:nth-child(2) img {
    width: 50vw;
  }

  .rodapeV2 {
    max-width: 992px;
    margin: 5% auto;
    width: 100%;
    padding: 5%;
  }
  .rodapeV2 .elementor-container {
    display: flex;
    flex-wrap: wrap;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) img {
    width: 20%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    margin-top: 2%;
    width: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap i {
    font-size: 1.5rem;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 25%;
    margin-top: 2%;
  }
  .rodapeV2 .elementor-container .linha3 {
    margin-top: 2%;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .bannerHome {
    max-width: 1199px;
  }
  .bannerHome .ancorado:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  .bannerHome .ancorado:nth-child(2) {
    bottom: 20%;
    left: 5%;
  }
  .bannerHome .ancorado:nth-child(2) img {
    width: 85vw;
  }

  .ancorado {
    width: 100%;
  }

  .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    overflow-y: hidden;
    margin: 0 auto;
  }
  .bloco1 .elementor-container, .bloco2 .elementor-container, .bloco3 .elementor-container, .bloco4 .elementor-container, .bloco5 .elementor-container, .bloco6 .elementor-container, .bloco7 .elementor-container, .bloco8 .elementor-container {
    height: 100%;
  }
  .bloco1 .img1, .bloco2 .img1, .bloco3 .img1, .bloco4 .img1, .bloco5 .img1, .bloco6 .img1, .bloco7 .img1, .bloco8 .img1 {
    width: 100%;
    height: auto;
  }

  .bloco1 {
    min-height: 433px;
    height: auto;
  }
  .bloco1 .ancora {
    height: auto;
  }
  .bloco1 .ancorado:nth-child(2) {
    height: auto;
    top: 50%;
    width: 60%;
    left: 5%;
  }

  .bloco2 {
    min-height: 238px;
    height: auto;
  }
  .bloco2 .ancorado:nth-child(2) {
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco3 {
    min-height: 324px;
    height: auto;
  }
  .bloco3 .ancorado:nth-child(2) {
    display: flex;
    height: auto;
    top: 35%;
    width: 100%;
    left: 2%;
    align-items: center;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) img {
    width: 20%;
  }

  .bloco4 {
    min-height: 167px;
    height: auto;
  }
  .bloco4 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco5 {
    min-height: 514px;
    height: auto;
  }
  .bloco5 .ancora {
    height: auto;
  }
  .bloco5 .ancorado:nth-child(2) {
    margin: 0;
    height: auto;
    top: 13%;
    width: 100%;
    left: 3%;
  }
  .bloco5 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
  }
  .bloco5 .ancorado:nth-child(2) img {
    width: 50%;
  }

  .bloco6 {
    min-height: 290px;
    height: auto;
  }
  .bloco6 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco7 {
    min-height: 324px;
    height: auto;
  }
  .bloco7 .ancorado:nth-child(2) {
    margin: 0;
    height: 100%;
    bottom: 0;
    width: 65%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco7 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco7 .ancorado:nth-child(2) img {
    width: 50vw;
  }

  .bloco8 {
    display: none;
  }

  .rodapeV2 {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 1%;
  }
  .rodapeV2 .elementor-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 30%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) img {
    width: 60%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    width: 70%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap i {
    font-size: 1.5rem;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 25%;
    margin-top: 2%;
  }
  .rodapeV2 .elementor-container .linha3 {
    margin-top: 2%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .bannerHome {
    max-width: 1399px;
  }
  .bannerHome .ancorado:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  .bannerHome .ancorado:nth-child(2) {
    bottom: 20%;
    left: 5%;
  }
  .bannerHome .ancorado:nth-child(2) img {
    width: 85vw;
  }

  .ancorado {
    width: 100%;
  }

  .ancora {
    max-width: 1400px !important;
  }

  .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    overflow: hidden;
    margin: 0 auto;
  }
  .bloco1 .elementor-container, .bloco2 .elementor-container, .bloco3 .elementor-container, .bloco4 .elementor-container, .bloco5 .elementor-container, .bloco6 .elementor-container, .bloco7 .elementor-container, .bloco8 .elementor-container {
    height: 100%;
  }
  .bloco1 .img1, .bloco2 .img1, .bloco3 .img1, .bloco4 .img1, .bloco5 .img1, .bloco6 .img1, .bloco7 .img1, .bloco8 .img1 {
    width: 100%;
    height: auto;
  }

  .bloco1 {
    min-height: 433px;
    height: auto;
  }
  .bloco1 .ancora {
    height: auto;
  }
  .bloco1 .ancorado:nth-child(2) {
    height: auto;
    top: 50%;
    width: 60%;
    left: 5%;
  }

  .bloco2 {
    min-height: 238px;
    height: auto;
  }
  .bloco2 .ancorado:nth-child(2) {
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco3 {
    min-height: 324px;
    height: auto;
  }
  .bloco3 .ancorado:nth-child(2) {
    display: flex;
    height: auto;
    top: 35%;
    width: 100%;
    left: 2%;
    align-items: center;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) img {
    width: 20%;
  }

  .bloco4 {
    min-height: 167px;
    height: auto;
  }
  .bloco4 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco5 {
    min-height: 514px;
    height: auto;
  }
  .bloco5 .ancora {
    height: auto;
  }
  .bloco5 .ancorado:nth-child(2) {
    margin: 0;
    height: auto;
    top: 13%;
    width: 100%;
    left: 3%;
  }
  .bloco5 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
  }
  .bloco5 .ancorado:nth-child(2) img {
    width: 50%;
  }

  .bloco6 {
    min-height: 290px;
    height: auto;
  }
  .bloco6 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco7 {
    min-height: 324px;
    height: auto;
  }
  .bloco7 .ancorado:nth-child(2) {
    margin: 0;
    height: 100%;
    bottom: 0;
    width: 65%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco7 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco7 .ancorado:nth-child(2) img {
    width: 50vw;
  }

  .bloco8 {
    display: none;
  }

  .rodapeV2 {
    max-width: 1400px;
    margin: 5% auto;
    width: 100%;
    padding: 1%;
  }
  .rodapeV2 .elementor-container {
    display: flex;
    flex-wrap: wrap;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 20%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) img {
    width: 60%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    width: 70%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap i {
    font-size: 1.5rem;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 25%;
    margin-top: 2%;
  }
  .rodapeV2 .elementor-container .linha3 {
    margin-top: 2%;
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .bannerHome {
    max-width: 1450px;
    margin: 0 auto;
  }
  .bannerHome .ancorado:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  .bannerHome .ancorado:nth-child(2) {
    bottom: 20%;
    left: 5%;
  }
  .bannerHome .ancorado:nth-child(2) img {
    width: 60vw;
  }

  .ancorado {
    width: 100%;
  }

  .ancora {
    max-width: 1450px !important;
  }

  .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    overflow: hidden;
    margin: 0 auto;
  }
  .bloco1 .elementor-container, .bloco2 .elementor-container, .bloco3 .elementor-container, .bloco4 .elementor-container, .bloco5 .elementor-container, .bloco6 .elementor-container, .bloco7 .elementor-container, .bloco8 .elementor-container {
    height: 100%;
  }
  .bloco1 .img1, .bloco2 .img1, .bloco3 .img1, .bloco4 .img1, .bloco5 .img1, .bloco6 .img1, .bloco7 .img1, .bloco8 .img1 {
    width: 100%;
    height: auto;
  }

  .quemSomos {
    max-width: 1450px;
    margin: 0 auto;
  }

  .bloco1 {
    min-height: 433px;
    height: auto;
  }
  .bloco1 .ancora {
    height: auto;
  }
  .bloco1 .ancorado:nth-child(2) {
    height: auto;
    top: 50%;
    width: 60%;
    left: 5%;
  }

  .bloco2 {
    min-height: 238px;
    height: auto;
  }
  .bloco2 .ancorado:nth-child(2) {
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco2 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco3 {
    min-height: 324px;
    height: auto;
  }
  .bloco3 .ancorado:nth-child(2) {
    display: flex;
    height: auto;
    top: 35%;
    width: 100%;
    left: 2%;
    align-items: center;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco3 .ancorado:nth-child(2) img {
    width: 20%;
  }

  .bloco4 {
    min-height: 167px;
    height: auto;
  }
  .bloco4 .ancorado:nth-child(2) {
    display: flex;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco4 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco5 {
    min-height: 514px;
    height: auto;
  }
  .bloco5 .ancora {
    height: auto;
  }
  .bloco5 .ancorado:nth-child(2) {
    margin: 0;
    height: auto;
    top: 13%;
    width: 100%;
    left: 3%;
  }
  .bloco5 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
  }
  .bloco5 .ancorado:nth-child(2) img {
    width: 50%;
  }

  .bloco6 {
    min-height: 290px;
    height: auto;
  }
  .bloco6 .ancorado:nth-child(2) {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bloco6 .ancorado:nth-child(2) img {
    width: 80%;
  }

  .bloco7 {
    min-height: 324px;
    height: auto;
  }
  .bloco7 .ancorado:nth-child(2) {
    margin: 0;
    height: 100%;
    bottom: 0;
    width: 65%;
    left: 0;
    align-items: center;
    justify-content: center;
  }
  .bloco7 .ancorado:nth-child(2) .elementor-widget-wrap {
    width: fit-content;
  }
  .bloco7 .ancorado:nth-child(2) img {
    width: 50vw;
  }

  .bloco8 {
    display: none;
  }

  .rodapeV2 {
    max-width: 1450px;
    margin: 5% auto;
    width: 100%;
    padding: 1%;
  }
  .rodapeV2 .elementor-container {
    display: flex;
    flex-wrap: wrap;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) {
    width: 30%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(1) img {
    width: 60%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) {
    width: 70%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .rodapeV2 .elementor-container .linha1:nth-child(2) .elementor-widget-wrap i {
    font-size: 1.5rem;
  }
  .rodapeV2 .elementor-container .linha2 {
    width: 25%;
    margin-top: 2%;
  }
  .rodapeV2 .elementor-container .linha3 {
    margin-top: 2%;
    width: 100%;
  }
}
html, body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body > div.nasa-static-group-btn {
  display: none;
}

#registroPolicy {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

#registroPolicy :focus {
  text-decoration: none;
}

#mobile-navigation {
  display: flex;
  flex-wrap: wrap;
}

#mobile-navigation > li.menu-item.root-item.menu-item-heading, #nasa-menu-sidebar-content > a {
  display: none;
}

#mobile-navigation > li:nth-child(2), #mobile-navigation > li:nth-child(3) {
  flex-grow: 1;
  width: 100%;
}

#mobile-navigation > li:nth-child(4), #mobile-navigation > li:nth-child(5) {
  flex-grow: 1;
  text-align: right;
}

#mobile-navigation > li:nth-child(4) {
  flex-grow: 1;
  text-align: right;
}

#mobile-navigation > li:nth-child(5) {
  text-align: left;
}

.menu-item img {
  width: 20px;
}

#top-bar {
  display: none;
}

#homeBanner {
  height: 100vh;
}

.textoBanner {
  padding: 20px;
}

#um-submit-btn {
  background-color: black !important;
}

.btnLogin {
  background-color: #4d068f !important;
}

#um-submit-btn, #btn1, #btn2 {
  width: 100% !important;
  border-radius: 0 !important;
  text-transform: uppercase !important;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px black;
}

.ancora {
  position: relative;
}

.ancorado:nth-child(2) {
  position: absolute;
}

section[data-id=f54c3e3] {
  display: none;
}

/*# sourceMappingURL=sas-estilos.css.map */
