@media screen and (min-width:1200px){

    .bloco1{
        height: 524px;
    }
    .bloco2{
        height: 288px;
    }
    .bloco3{
        height: 392px;
    }
    .bloco4{
        height: 202px;
    }
    .bloco5{
        height: 622px;
    }
    .bloco6{
        height: 351px;
    }
    .bloco7{
        height: 392px;
    }
}