@media screen and (min-width:1400px){
    .bloco1 {
        height: 611px;
    }
    .bloco2{
        height: 336px;
    }
    .bloco3{
        height: 457px;
    }
    .bloco4{
        height: 235px;
    }
    .bloco5{
        height: 726px;
    }
    .bloco6{
        height: 409px;
    }
    .bloco7{
        height: 457px;
    }
}