@media screen and (min-width:576px){
    .bloco1 {
        height: 625px;
    }
    .bloco2{
        height: 531px;
    }
    .bloco3{
        height: 531px;
    }
    .bloco4{
        height: 531px;
    }
    .bloco5{
        height: 531px;
    }
    .bloco6{
        height: 531px;
    }
    .bloco7{
        height: 531px;
    }
}