@media screen and (min-width:577px){

	.bannerHome {
		max-width: 767px;
		.ancorado:nth-child(1){
			img{
				width: 100%;
				height: auto;
			}	}
		.ancorado:nth-child(2){
			bottom:20%;
			left: 5%;
			img{
				width: 85vw;
			}
		}
}

	.ancorado{
		width: 100%;
	}

	.bloco1,.bloco2,.bloco3, .bloco4, .bloco5, .bloco6 , .bloco7, .bloco8{
		.elementor-container{
			height: 100%;
		}
		overflow-y: hidden;
		margin: 0 auto;
		.img1{
			width: 100%;
			height:auto;
		}
	}

	.bloco1 {
		min-height: 625px;
		.ancorado:nth-child(2){
			height: 100%;
			top: 37vw;
			width: 85%;
			left: 5%;
		}
	}

	.bloco2{
		min-height: 531px;
		.ancorado:nth-child(2){
			display: flex;
			height: 100%;
			top: 0;
			width: 100%;
			left: 0;
			align-items: center;
			justify-content: center;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 70vw;
			}
		}
	}
	.bloco3{
		min-height: 531px;
		.ancorado:nth-child(2){
			display: flex;
			height: auto;
			bottom: 40%;
			width: 100%;
			left: 0;
			align-items: center;
			justify-content: center;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 90%;
			}
		}
	}
	.bloco4{
		min-height: 531px;
		.ancorado:nth-child(2){
			display: flex;
			height: 100%;
			top: 0;
			width: 100%;
			left: 0;
			align-items: center;
			justify-content: center;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 70vw;
			}
		}
	}
	.bloco5{
		min-height: 531px;
	.ancorado:nth-child(2){
		display: flex;
		height: 100%;
		top: 0;
		width: 50vw;
		left: 0;
		align-items: center;
		justify-content: left;
		margin-left: 10vw;
		.elementor-widget-wrap{
			width:fit-content;
		}
		img{
			width: 51vw;
		}
	}
	}
	.bloco6{
		min-height: 531px;
		.ancorado:nth-child(2){
			height: 100%;
			top: 0;
			width: 100%;
			left: 0;
			align-items: center;
			justify-content: center;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 70vw;
			}
		}
	}
	.bloco7{
		min-height: 531px;
		.ancorado:nth-child(2){
			height: 100%;
			bottom: 0;
			width: 100%;
			left: 0;
			align-items: center;
			justify-content: center;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 70vw;
			}
		}	
	}
	.bloco8{
		min-height: 531px;
		.ancorado:nth-child(2){
			height: 100%;
			top: 0;
			width: 100%;
			left: 0;
			margin-left: 5%;
			align-items: center;
			justify-content: left;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 100%;
			}
		}
	}


	.rodapeV2{
		background: #FAFAFA;;
		padding-top:2%;
		article{
			padding-bottom: 1% !important;
		}
		max-width: 768px;
		margin-top: 5%;
		width: 100%;
		padding: 1%;
		.elementor-container{
			display: flex;
			flex-direction: column;
			flex-wrap: no-wrap;
			.linha1:nth-child(1){
				width: 100%;
				img{
					width: 30%;
				}
			}
			.linha1:nth-child(2){
				width: 100%;
				.elementor-widget-wrap{
					margin-top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					i{
						font-size: 1.5rem;
					}
				}

			
			}
			.linha2{
				width: 100%;
				margin-top: 5%;
			}
			.linha3{
				margin-top: 5%;
				width: 100%;
			}
		}
	}
}