@media only screen and (min-width: 768px){
	body.home {
		max-width: 1400px;
		margin: 0 auto;
		.s768{
			width: 100%;
			img{
				width:100%;
				height: 100%;
			}			
			.texto{
				position: absolute;
				bottom:35%;
				left: 5%;
				width: 65%;
				img{
					height:80%;
					width: auto;
				}
		}					
		}
		.s768{
			width: 100%;
			.elementor-widget-wrap.elementor-element-populated{
				padding:0 !important;
			}
		}		
		.s576{
			display: none;
		}
		.s768{
			display: block;
		}
	}
	#top-bar{
		display: initial;
	}
	

	.logoFooter{
	max-height: 40px;
	width: auto;
}

	footer #menu-main-menu-1{
	list-style-type: none;
	display: flex;
}

#menu-item-3689, #menu-item-3693{
	display: none;
}
		.tituloFooter{
		font-size: 1.5rem
	}

li[data-tag="li-2"]{
	display: block !important;
}

.topbar-mobile-text[data-tag=div-7]{
	display: none !important;
}

.nasa-static-group-btn{
	display: none;
}

.bloco1{
	height: 834px;
}
.bloco2{
	height: 708px;
}
.bloco3{
	height: 708px;
}
.bloco4{
	height: 708px;
}
.bloco5{
	height: 708px;
}
.bloco6{
	height: 708px;
}
.bloco7{
	height: 708px;
}

.rodapeV2{
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	.elementor-container{
		flex-wrap: wrap;
		.linha1:nth-child(1){
			width: 30% !important;
		}
		.linha1:nth-child(2){
			width: 70% !important;
		}
		.linha2{
			width: 25% !important;
		}
		.linha3{
			width: 100% !important;
		}
	}
}



	}
