@media only screen and (min-width: 768px){

	#top-bar{
		display: block;
	}
	#top-bar > div > div > div.left-text.left.rtl-right > span{
		display: none;
	}


	.bannerHome {
		max-width: 991px;
		.ancorado:nth-child(1){
			img{
				width: 100%;
				height: auto;
			}	}
		.ancorado:nth-child(2){
			bottom:20%;
			left: 5%;
			img{
				width: 85vw;
			}
		}
}

	.logoFooter{
	max-height: 40px;
	width: auto;
}

	footer #menu-main-menu-1{
	list-style-type: none;
	display: flex;
}

#menu-item-3689, #menu-item-3693{
	display: none;
}
		.tituloFooter{
		font-size: 1.5rem
	}

li[data-tag="li-2"]{
	display: block !important;
}

.topbar-mobile-text[data-tag=div-7]{
	display: none !important;
}

.nasa-static-group-btn{
	display: none;
}


.ancorado{
	width: 100%;
}

.bloco1,.bloco2,.bloco3, .bloco4, .bloco5, .bloco6 , .bloco7, .bloco8{
	.elementor-container{
		height: 100%;
	}
	overflow-y: hidden;
	margin: 0 auto;
	.img1{
		width: 100%;
		height:auto;
	}
}


.bloco1{
	.ancorado:nth-child(2){
		height: 100%;

		left: 5%;
	}
}
.bloco2{
	height: 708px;
	.ancorado:nth-child(2){
		display: flex;
		height: 100%;
		top: 0;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		.elementor-widget-wrap{
			width:100%;
		}
		img{
			width: 65%;
		}
	}
}
.bloco3{
	height: 708px;
	.ancorado:nth-child(2){
		display: flex;
		height: auto;
		top: 62%;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		.elementor-widget-wrap{
			width:fit-content;
		}
		img{
			width: 40vw;
		}
	}
}
.bloco4{
	height: 708px;
	.ancorado:nth-child(2){
		display: flex;
		height: 100%;
		top: 0;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		.elementor-widget-wrap{
			width:fit-content;
		}
		img{
			width: 60vw;
		}
	}
}
.bloco5{
	height: 708px;
	.ancorado:nth-child(2){
		display: flex;
		height: 100%;
		top: 0;
		width: 50vw;
		left: 0;
		align-items: center;
		justify-content: left;
		margin-left: 10vw;
		.elementor-widget-wrap{
			width:fit-content;
		}
		img{
			width: 51vw;
		}
	}
}
.bloco6{
	height: 708px;
	.ancorado:nth-child(2){
		height: 100%;
		top: 0;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		.elementor-widget-wrap{
			width:fit-content;
		}
		img{
			width: 60vw;
		}
	}
}
.bloco7{
	height: 708px;
	.ancorado:nth-child(2){
		height: 100%;
		bottom: 0;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		.elementor-widget-wrap{
			width:fit-content;
		}
		img{
			width: 70vw;
		}
	}
}
	.bloco8{
		min-height: 708px;
		.ancorado:nth-child(2){
			height: 100%;
			top: 0;
			width: 100%;
			left: 0;
			margin-left: 5%;
			align-items: center;
			justify-content: left;
			.elementor-widget-wrap{
				width:fit-content;
			}
			img{
				width: 50vw;
			}
		}
	}	


.rodapeV2{
	background: #FAFAFA;
		padding-top:2%;
	max-width: 992px;
	margin: 5% auto;
	width: 100%;
	padding: 5%;
	.elementor-container{
		display: flex;
		flex-wrap: wrap;
		.linha1:nth-child(1){
			width: 100%;
			img{
				width: 20%;
			}
		}
		.linha1:nth-child(2){
			margin-top: 2%;
			width: 100%;
			.elementor-widget-wrap{
				display: flex;
				justify-content: left;
				align-items: center;
				height: 100%;
				i{
					font-size: 1.5rem;
				}
			}

		
		}
		.linha2{
			width: 25%;
			margin-top: 2%;
		}
		.linha3{
			margin-top: 2%;
			width: 100%;
		}
	}
}
}