@media screen and (min-width:992px){

    .bloco1{
        height: 433px;
    }
    .bloco2{
        height: 238px;
    }
    .bloco3{
        height: 324px;
    }
    .bloco4{
        height: 167px;
    }
    .bloco5{
        height: 514px;
    }
    .bloco6{
        height: 290px;
    }
    .bloco7{
        height: 324px;
    }
}