html, body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
body > div.nasa-static-group-btn{
	display: none;
}
#registroPolicy{
	color: black;
	font-weight: 600;
	text-decoration: none;
}
#registroPolicy :focus{
	text-decoration: none;
}

#mobile-navigation{
	display: flex;
	flex-wrap: wrap;
}

#mobile-navigation > li.menu-item.root-item.menu-item-heading, #nasa-menu-sidebar-content > a{
	display:none;
}

#mobile-navigation > li:nth-child(2),#mobile-navigation > li:nth-child(3){
	flex-grow:1;
	width: 100%;
}

#mobile-navigation > li:nth-child(4),#mobile-navigation > li:nth-child(5){
	flex-grow: 1;
	text-align: right;
}

#mobile-navigation > li:nth-child(4){
	flex-grow: 1;
	text-align: right;
}

#mobile-navigation > li:nth-child(5){
	text-align: left;
}



.menu-item img{
	width: 20px;
}


#top-bar{
	display: none;
}


#homeBanner{
	height: 100vh;
}


.textoBanner{
	padding: 20px
}

#um-submit-btn{
    background-color: black !important;
}

.btnLogin{
    background-color: rgb(77, 6, 143) !important;
}

#um-submit-btn,  #btn1, #btn2{
    width: 100% !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px black;
}
/*
.elementor img{
	max-width: 1400px;
}

.quemSomos{
	max-width: 1400px !important;
	margin: 0 auto;
}
*/
.ancora{
	position: relative;
}
.ancorado:nth-child(2){
	position: absolute;
}

